<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Shopkart | Online shoping</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>

    <footer class="text-center text-lg-start bg-dark text-white">
        <section class="container d-flex justify-content-center justify-content-lg-between p-4">
            <div class="me-5 d-none d-lg-block">
                <span>get connected with us social networks</span>
            </div>
            <div>
                <a href="#" class="me-4 text-reset"><i class="fa fa-facebook"></i></a>
                <a href="#" class="me-4 text-reset"><i class="fa fa-twitter"></i></a>
                <a href="#" class="me-4 text-reset"><i class="fa fa-google"></i></a>
                <a href="#" class="me-4 text-reset"><i class="fa fa-instagram"></i></a>
                <a href="#" class="me-4 text-reset"><i class="fa fa-linkedin"></i></a>
                <a href="#" class="me-4 text-reset"><i class="fa fa-github"></i></a>
            </div>
        </section>

        <section class="">
            <div class="container text-center text-md-bottom mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4"><i class="fa fa-cart-plus"></i>Shopkart</h6>
                        <p>
                            ShopKart.com is a one stop destination for your family fashion needs.
                            we give you the opertunity to give your wardrobe a makeover with the latest collctions from our top brand.
                        </p>

                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Products</h6>
                        <p><a href="#" class="text-reset">MENU</a></p>
                        <p><a href="#" class="text-reset">MENU</a></p>
                        <p><a href="#" class="text-reset">MENU</a></p>
                        <p><a href="#" class="text-reset">MENU</a></p>
                        <p><a href="#" class="text-reset">MENU</a></p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">Useful_links</h6>
                        <p><a href="#" class="text-reset">MENU</a></p>
                        <p><a href="#" class="text-reset">MENU</a></p>
                        <p><a href="#" class="text-reset">MENU</a></p>
                        <p><a href="#" class="text-reset">MENU</a></p>  
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold mb-4">content</h6>
                        <p><a href="#" class="text-reset">Velmurugan</a></p>
                        <p><a href="#" class="text-reset">info@example</a></p>
                        <p><a href="#" class="text-reset">+91 9952336232</a></p>
                    </div>
                </div>
            </div>
        </section>
    </footer>

</body>
</html>