{% include "navbar.html" %} 

{% include 'slider.html' %}

{% block content %}
    <div class="container-fluid my-5 home">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3"><b>Latest Offers</b></h4>
                <hr style="border-color:#b8bfc2;">
            </div>
            {% for item in trending_product %}
            <div class="col-md-4 col-lg-3">
                <div class="card my-3">
                    <img src="{{item.product_image.url}}" class="card-image-top" alt="{{ item.name }}" style="height:200px;">
                    <a href="{% url 'product_details' item.category.name item.name%}">
                        <div class="card-body">
                            <h5 class="card-title text-primary">{{item.name}}</h5>
                            <p class="card-text">
                                <span class="float-start old-price"><s>Rs.{{item.original_price | stringformat:'d'}}</s></span>
                                <span class="float-end new-price">Rs.{{item.selling_price | stringformat:'d' }}</span>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
           {% endfor %}
        </div>


    </div>

{% endblock %}
{% include 'footer.html' %}
