{% include "navbar.html" %} 

{% block content %}

<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">{{category}} Products</h4>
                <hr style="border-color:#b8bfc2;">
                {% include "message.html" %}
            <div class="row">
                {% for item in products %}
                    <div class="col-md-4 col-lg-3">
                        <div class="card my-3">
                            <img src="{{item.product_image.url}}" class="card-image-top" alt="{{ item.name }}" style="height:200px;">
                            <a href="{% url 'product_details' category item.name%}">
                                <div class="card-body">
                                    <h5 class="card-title text-primary">{{item.name}}</h5>
                                    <p class="card-text">
                                        <span class="float-start old-price"><s>Rs.{{item.original_price | stringformat:'d'}}</s></span>
                                        <span class="float-end new-price">Rs.{{item.selling_price | stringformat:'d' }}</span>
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</section>


{% include 'footer.html' %}

{% endblock %}