{% include "navbar.html" %} 



{% block content %}
    <div class="container-fluid" style="margin-top:90px;">  
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3"><b>New User Registration</b></h4>
                <hr style="border-color:#b8bfc2;">
                {% include "message.html" %}
            </div>
        </div>
        <section class="py-4 my-2">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <form action="" method="post" autocomplete="off">
                          {% csrf_token %}
                          
                          <div class="mb-4">
                            <label for="" class="form-label">User Name</label>
                            {{form.username}}
                           
                          </div>
                          <div class="mb-4">
                            <label for="" class="form-label">Email Address</label>
                            {{form.email}}
                           
                          </div>
                          <div class="mb-4">
                            <label for="" class="form-label">Password</label>
                            {{form.password1}}
                           
                          </div>
                          <div class="mb-4">
                            <label for="" class="form-label">Confirm Passsword</label>
                            {{form.password2}}
                          </div>
                          <button type="submit" class="btn btn-primary">Rigister</button>
                          
                        </form>
                        <p class="my-2">Already user ? <a href="{% url 'login' %}">Login Now</a></p>
                    </div>
                    <div class="col-6">
                          
                            {% if form.errors.username %}
                            <label for="" class="text-danger d-block">{{form.errors.username}}</label>
                            {% endif %}
                          
                         
                          
                            {% if form.errors.email %}
                            <label for="" class="text-danger d-block">{{form.errors.email}}</label>
                            {% endif %}
                        
                           
                            {% if form.errors.password1 %}
                            <label for="" class="text-danger d-block">{{form.errors.password1}}</label>
                            {% endif %}
                        
                           
                            {% if form.errors.password2 %}
                            <label for="" class="text-danger d-block">{{form.errors.password2}}</label>
                            {% endif %}
                        
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
{% include 'footer.html' %}
